.venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
.env
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

data/historical/*
data/model/*
!data/historical/.gitkeep
!data/model/.gitkeep
